body {
  margin: 0;
  background: #262626;
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  > a {
    display: flex;
    align-items: center;
    max-width: 80%;
    width: 50vh;
    transition: all 0.2ms;
    box-shadow: 1px 0px 20px 0px #e33030;
    padding: 24px;
    border-radius: 5px;
    border: 7px solid #a0111100;
    border-left-color: #e33030;
  }
  svg {
    width: 100%;
  }
}
.time {
  color: white;
}
